.header {
  height: 80px;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 96vw;
    margin: 0 auto;
    .header__burger {
      display: none;
    }
    .header__navigation {
      width: 32%;
      justify-content: space-between;
      display: flex;
      .logo {
        width: 100%;
        max-width: 57px;
        padding: 0 10px;
      }
      .categories {
        display: flex;
        width: 70%;
        max-width: 423px;
        justify-content: space-between;
        align-items: center;
        .link {
          white-space: nowrap;
          margin: 0 10px;
          text-decoration: none;
          list-style: none;
        }
      }
    }
    .account {
      width: 38%;
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 769px) {
  .header__burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    &::after,
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #272727;
      position: absolute;
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
    span {
      position: absolute;
      background-color: #272727;
      left: 0;
      top: 9px;
      width: 100%;
      height: 2px;
    }
  }
  .header__navigation {
    width: 100% !important;
    align-items: center;
    .logo {
      position: relative;
      z-index: 3;
    }
  }
  .container {
    justify-content: space-between !important;
    .logo,
    .header__burger {
      margin: 0 20px;
    }
  }
  .categories {
    z-index: 2;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100vw !important;
    max-width: none !important;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: flex-start !important;
    margin-top: 60px !important;
    transition: all 200ms;
    &.active {
      top: 0 !important;
      transition: all 200ms;
    }
    .link {
      font-size: 34px;
      width: 100%;
      padding: 25px 0;
      text-align: center;
      &:hover {
        transition: all 0.3s;
        background-color: #fff;
      }
    }
  }
  .account {
    display: none !important;
  }
  .header {
    height: 60px !important;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 3;
    }
  }
}
