.main {
  margin-top: 45px;
  max-width: 985px;
  .description {
    width: 100%;
  }
}
.readMore {
  cursor: pointer;
  margin-left: 10px;
  color: #00398f;
  transition: 0.2s all;
  &:hover {
    text-decoration: underline;
    transition: 0.2s all;
  }
}
