.root {
}

.title {
  margin: 80px 0 10px 50px;
  color: #272727;
  font-size: 36px;
  font-weight: 900;
}

.component {
  margin-right: 40px;
  margin-bottom: 40px;
}

.box {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.buttonCase {
  margin-top: 50px;
  display: flex;
  .button {
    margin: 0 auto;
    border-radius: 10px;
    &:hover {
      transition: all 200ms;
      color: #ffffff;
      background-color: #272727;
    }
  }
}

@media screen and (max-width: 767px) {
  .box {
    padding-left: 0 !important;
  }
  .component {
    margin-right: 20px;
  }
}
