.tabs {
  max-width: 1514px;
  margin: 10px auto;
  .product_tabs {
    margin-bottom: 50px;
    &_nav {
      &::after {
        content: '';
        display: block;
        width: 100%;
        margin-top: 10px;
        height: 1px;
        background-color: #848484;
      }
      &__navigation {
        display: flex;

        &_item {
          flex: 0 1 33.333%;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #848484;
          text-decoration: none;
          transition: 0.2s all;
          &.active {
            color: #002482;
            text-decoration: underline;
          }
          &:hover {
            transition: 0.2s all;
            background-color: #dddddd;
            border-radius: 12px;
            color: #272727;
          }
        }
      }
    }
    &__body {
      padding: 0 20px;
      &_block {
        display: none;
        &#tab_01 {
          .title {
            font-weight: 900;
            font-size: clamp(1.125rem, 0.9375rem + 0.8333vw, 1.5rem);
            margin: 27px 0 18px 0;
          }
        }
        &#tab_02 {
          .title {
            font-weight: 900;
            font-size: clamp(1.125rem, 0.9375rem + 0.8333vw, 1.5rem);
            margin: 27px 0 18px 0;
          }
        }
        &#tab_03 {
          .title {
            font-weight: 900;
            font-size: clamp(1.125rem, 0.9375rem + 0.8333vw, 1.5rem);
            margin: 27px 0 18px 0;
          }
        }
        &.active {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .tabs {
    .product_tabs {
      overflow: scroll;
    }
  }
}
