.title {
  margin-top: 56px;
  font-size: 36px;
  margin-left: 80px;
}

.main {
  margin-bottom: 80px;
}

.swiper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .title {
    margin: 0;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
