.main {
  margin-top: 124px;
  .container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    .settings {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      font-size: 24px;
      font-weight: 900;

      align-items: center;
      margin: 38px 50px;
      .filters {
        border-radius: 15px;
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 30px;
        color: #848484;
        transition: all 0.3s;
        &:hover {
          transition: all 0.3s;
          background-color: #f0f0f0;
        }
        .svg {
          margin-left: 15px;
        }
        &.active {
          transition: all 0.3s;
          color: #272727;
          .svg {
            transition: all 0.3s;
            fill: #272727;
          }
        }
      }
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .pagination {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
  }
}
