.catalog_list {
  width: 100%;
  height: 100%;
  column-gap: 60px;
  &.active {
    grid-template-columns: 1fr 4fr;
    transition: all 1s;
  }
  .catalog_list__wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 410px);
    justify-content: center;
    justify-items: center;
    column-gap: 60px;
    row-gap: 60px;
    transition: all 1s;
    .catalog_list__card {
      display: block;
    }
  }
}
