.product {
  margin: 0 60px;
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &_images {
    display: flex;
    padding-right: 50px;
    &__selectImage {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_item {
        width: 180px;
        height: 180px;
        border-radius: 10px;
        position: relative;
        &_image {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        &:after {
          transition: all 1s;
          border-radius: 10px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          content: '';
          opacity: 0;
          background-color: #000;
        }
        &:hover {
          transition: all 1s;
          cursor: pointer;
          &:after {
            opacity: 0.3;
          }
        }
      }
    }
    &__mainImage {
      object-fit: cover;
      width: 100%;
      max-width: 830px;
      overflow: hidden;
      height: 900px;
      border-radius: 10px;
    }
  }
  &_info {
    &__title {
      font-size: clamp(1.5rem, 1.125rem + 1.6667vw, 2.25rem);
    }
    &__brandName {
      font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
      margin-top: 22px;
    }
    &__seller {
      font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1.125rem);
      margin-top: 22px;
    }
    &__rating {
      display: flex;
      align-items: center;
      margin-top: 25px;
      &_element {
        padding-right: 20px;
        &:last-child {
          display: none;
        }
      }
    }
    &__price {
      margin-top: 28px;
      &_currentPrice {
        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
        font-weight: 900;
      }
      &_oldPrice s {
        font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1.125rem);
        color: #646464;
        margin: 0 15px;
      }
      &_offer {
        color: #299e00;
        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
      }
    }
    &__sizes {
      margin-top: 30px;
      &_title {
        font-weight: 900;
        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
      }
      &_chart {
        margin-top: 22px;
        a {
          text-decoration: none;
          color: #00398f;
        }
      }
      &_sizes {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        &_size {
          cursor: pointer;
          position: relative;
          width: 55px;
          height: 55px;
          border: 1px #bababa solid;
          border-radius: 50%;
          margin-right: 20px;
          transition: 0.2s all;
          &:hover {
            border-color: #646464;
            background-color: #e6e6e6;
          }
          &.active {
            background-color: #00398f;
            border-color: #b0b0b0;

            transition: 0.2s all;
            span {
              color: #fff;
              transition: 0.2s all;
            }
          }
          &.disabled {
            cursor: not-allowed;
            span {
              color: #bababa;
            }
            &::before {
              position: absolute;
              content: '';
              top: 50%;
              width: 100%;
              height: 1px;
              background-color: #bababa;
              transform: rotate(-45deg);
            }
            &:hover {
              border: 1px #bababa solid;
              background-color: #ffffff00;
            }
          }
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &__colors {
      margin-top: 25px;
      &_title {
        font-weight: 900;
        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
      }
      &_colors {
        cursor: pointer;
        margin-top: 22px;
        display: flex;
        &_wrapper {
          margin-right: 20px;
          padding: 2px;
          &.active {
            border-radius: 8px;
            border: #00398f 2px solid;
          }
          &_color {
            width: 74px;
            height: 74px;
            border-radius: 5px;
          }
        }
      }
    }
    &__offers {
      margin-top: 20px;
      &_title {
        font-weight: 900;
        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
      }
      &_list {
        list-style: none;
        li {
          margin-top: 15px;
        }
      }
    }
    &__buttons {
      margin-top: 40px;
      &_toCart {
        cursor: pointer;
        width: 168px;
        height: 48px;
        border: #004e49 1px solid;
        border-radius: 10px;
        background-color: #00398f;
        color: #fff;
        font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1.125rem);
        transition: 0.2s all;
        &:hover {
          transition: 0.2s all;
          background-color: #013179;
          border: #003f3b 1px solid;
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .product {
    &_images {
      flex-direction: column-reverse;
      &__selectImage {
        padding-top: 30px;
        justify-content: flex-start;
        flex-direction: row;
        &_item {
          margin-right: 30px;
          width: 90px;
          height: 90px;
        }
      }
      &__mainImage {
        height: 790px;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .product {
    &_images {
      &__selectImage {
        &_item {
          display: none;
        }
      }
      &__mainImage {
        height: 565px;
      }
    }

    &_info {
      &__brandName {
        font-size: 16px;
        margin-top: 10px;
      }
      &__seller {
        display: none;
      }
      &__rating {
        margin-top: 15px;
      }
      &__price {
        margin-top: 18px;
        &_currentPrice {
          font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
          font-weight: 900;
        }
        &_oldPrice s {
          display: none;
        }
        &_offer {
          margin-left: 10px;
          color: #299e00;
          font-size: 18px;
        }
      }

      &__sizes {
        margin-top: 20px;

        &_title {
          display: none;
        }
        &_chart {
          font-size: 12px;
          margin: 0;
        }
        &_sizes {
          margin-top: 10;
          display: flex;
          flex-direction: row;
          &_size {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            margin-right: 8px;
            span {
              font-size: 11px;
            }
          }
        }
      }

      &__colors {
        margin-top: 25px;
        &_title {
          font-weight: 900;
          font-size: 18px;
        }
        &_colors {
          cursor: pointer;
          margin-top: 14px;
          &_wrapper {
            margin-right: 8px;
            padding: 0px;
            &.active {
              border-radius: 0px;
              border: #00398f 2px solid;
            }
            &_color {
              width: 42px;
              height: 42px;
              border-radius: 0px;
            }
          }
        }
      }
      &__offers {
        &_title {
          display: none;
        }
        &_list {
          list-style: none;
          li {
            margin-top: 12px;
            font-size: 11px;
            b {
              font-size: 15px;
            }
          }
        }
      }
      &__buttons {
        margin-top: 20px;
        &_toCart {
          cursor: pointer;
          width: 100%;
          height: 38px;
          border-radius: 6px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .product {
    margin: 0;
    margin: 10px;
    padding-top: 60px;
    flex-direction: column;
    &_images {
      padding: 0;
      height: 400px;
      &__selectImage {
        padding: 10px;
      }
    }
  }
}
